<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="row mb-4">
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2 class="card-title mb-0">Analytics Dashboard</h2>
          
          <!-- Date Range Filter -->
          <form action="/analytics" method="get" class="row g-3">
            <div class="col-auto">
              <input type="date" class="form-control" id="start_date" name="start_date" value="<%= @start_date %>">
            </div>
            <div class="col-auto">
              <input type="date" class="form-control" id="end_date" name="end_date" value="<%= @end_date %>">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Filter</button>
              <a href="/analytics" class="btn btn-light">Reset</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Capacity Chart -->
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-body">
        <h3 class="card-title">Capacity Overview</h3>
        <canvas id="capacityChart"></canvas>
      </div>
    </div>
  </div>
  <!-- Allocations By Category Chart -->
  <div class="col-md-6 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-body">
        <h3 class="card-title">Resource Allocation By Category</h3>
        <canvas id="allocationCategoryChart"></canvas>
      </div>
    </div>
  </div>
 
</div>
<div class="row">
    <!-- Project Allocations Chart -->
    <div class="col-md-6 mb-4">
    <div class="card shadow-sm h-100">
        <div class="card-body">
        <h3 class="card-title">Project Allocations</h3>
        <canvas id="allocationChart"></canvas>
        </div>
    </div>
    </div>
</div>


<!-- Initialize chart data and include chart scripts -->
<script>
  // Initialize data for charts
  const capacity_data = <%= @capacity_data.to_json %>;
  const allocationData = <%= @allocation_data.to_json %>;
  const allocationCategoryData = <%= @allocation_category_data.to_json %>;
  console.log("allocationCategoryData");
  console.log(allocationCategoryData);
</script>

<!-- Include chart utilities and scripts -->
<script src="/scripts/chart_utils.js"></script>
<script src="/scripts/capacity_chart.js"></script>
<script src="/scripts/allocation_chart.js"></script>
<script src="/scripts/allocation_category_chart.js"></script>