<div class="container">
  <h1 class="title">Projects</h1>
  
  <div class="mb-4">
    <a href="/projects/new" class="button is-primary">New Project</a>
  </div>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.category %></td>
          <td><%= project.start_date %></td>
          <td><%= project.end_date %></td>
          <td>
            <div class="buttons">
              <a href="/projects/<%= project.id %>" class="button is-small is-info">Show</a>
              <a href="/projects/<%= project.id %>/edit" class="button is-small is-warning">Edit</a>
              <form action="/projects/<%= project.id %>" method="post" style="display: inline;">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="button is-small is-danger">Delete</button>
              </form>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> 