<div class="card shadow-sm">
  <div class="card-body">
    <h2 class="card-title mb-4"><%= @project.name %></h2>
    
    <dl class="row mb-4">
      <dt class="col-sm-3">Category</dt>
      <dd class="col-sm-9"><%= @project.category %></dd>

      <dt class="col-sm-3">Start Date</dt>
      <dd class="col-sm-9"><%= @project.start_date %></dd>

      <dt class="col-sm-3">End Date</dt>
      <dd class="col-sm-9"><%= @project.end_date %></dd>
    </dl>

    <div class="d-flex justify-content-end gap-2">
      <a href="/projects" class="btn btn-light">Back to Projects</a>
      <a href="/projects/<%= @project.id %>/edit" class="btn btn-warning">Edit</a>
    </div>
  </div>
</div> 